<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
      Ta DashBoard
    </h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"
          ><a href="#!" class="text-success"
            ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
        ></span>
        <table class="table table-bordered table-responsive-md table-striped text-center" style="width:100%; table-layout:fixed;">
          <thead>
            <tr>
              <th WIDTH=10% class="text-center">Project id</th>
              <th WIDTH=10% class="text-center">Username</th>
              <th WIDTH=10% class="text-center">name</th>
              <th WIDTH=38% class="text-center">Description</th>
              <th WIDTH=12% class="text-center">projectLink</th>
              <th WIDTH=10% class="text-center">Reject</th>
              <th WIDTH=10% class="text-center">Approved?</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of projects ">
              <td class="pt-3-half" contenteditable="false" [ngStyle]="{'background-color': getColor(project.approved)}">{{project.pid}}</td>
              <td class="pt-3-half" contenteditable="false">{{project.uid}}</td>
              <td class="pt-3-half" contenteditable="false">{{project.name}}</td>
              <td class="pt-3-half" contenteditable="false">{{project.description}}</td>
              <td class="pt-3-half" contenteditable="false">{{project.projectLink}}</td>
              <td class="pt-3-half"><button class="btn btn-danger" (click)="reject(project.pid)">Reject</button></td>
              <td class="pt-3-half"><button class="btn btn-success" (click)="accept(project.pid)">Accept</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->

