<div class="container mt-5">
    <div class="card text-center" style="padding: 20px">
        <h1>TA dashboard</h1>
        <!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
      Editable table
    </h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"
          ><a href="#!" class="text-success"
            ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
        ></span>
        <table class="table table-bordered table-responsive-md table-striped text-center" style="width:100%; table-layout:fixed;">
          <thead>
            <tr>
              <th WIDTH=10% class="text-center">Pid</th>
              <th WIDTH=10% class="text-center">Username</th>
              <th WIDTH=10% class="text-center">name</th>
              <th WIDTH=38% class="text-center">Description</th>
              <th WIDTH=12% class="text-center">projectLink</th>
              <th WIDTH=10% class="text-center">Reject</th>
              <th WIDTH=10% class="text-center">Approved?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-3-half" contenteditable="false">Guerra Cortez</td>
              <td class="pt-3-half" contenteditable="false">45</td>
              <td class="pt-3-half" contenteditable="false">Insectus</td>
              <td class="pt-3-half" contenteditable="false">asddddd</td>
              <td class="pt-3-half" contenteditable="false">USA</td>
              <td class="pt-3-half"><button class="btn btn-danger">Reject</button></td>
              <td class="pt-3-half"><button class="btn btn-success">Accept</button></td>
            </tr>
            <tr>
                <td class="pt-3-half" contenteditable="false">Guerra Cortez</td>
                <td class="pt-3-half" contenteditable="false">45</td>
                <td class="pt-3-half" contenteditable="false">Insectus</td>
                <td class="pt-3-half" contenteditable="false">asddddd</td>
                <td class="pt-3-half" contenteditable="false">USA</td>
                <td class="pt-3-half"><button class="btn btn-danger">Reject</button></td>
                <td class="pt-3-half"><button class="btn btn-success">Accept</button></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->

    </div>
</div>